* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: flex-end;
  align-items: flex-end;
  justify-items: flex-end;
}

.burger_container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 820px;
  justify-content: flex-start;
  align-items: center;
}

.disk {
  width: 200px;
}

.disk-0 {
  z-index: 0;
}

.disk-1 {
  z-index: 1;
  transition: all 2s ease-in-out;
}

.disk-2 {
  z-index: 2;
  transition: all 2s ease-in-out;
}

.disk-3 {
  z-index: 3;
  transition: all 2s ease-in-out;
}

.disk-4 {
  z-index: 4;
  transition: all 2s ease-in-out;
}

.disk-5 {
  z-index: 5;
  transition: all 2s ease-in-out;
}

.disk-6 {
  z-index: 6;
  transition: all 2s ease-in-out;
}

.disk-7 {
  z-index: 7;
  transition: all 2s ease-in-out;
}

.disk-1-win {
  z-index: 1;
  transform: translateY(70px);
  transition: all 2s ease-in-out;
}

.disk-2-win {
  z-index: 2;
  transform: translateY(130px);
  transition: all 2s ease-in-out;
}

.disk-3-win {
  z-index: 3;
  transform: translateY(210px);
  transition: all 2s ease-in-out;
}

.disk-4-win {
  z-index: 4;
  transform: translateY(310px);
  transition: all 2s ease-in-out;
}

.disk-5-win {
  z-index: 5;
  transform: translateY(400px);
  transition: all 2s ease-in-out;
}

.disk-6-win {
  z-index: 6;
  transform: translateY(515px);
  transition: all 2s ease-in-out;
}

.disk-7-win {
  z-index: 7;
  transform: translateY(611px);
  transition: all 2s ease-in-out;
}
